<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="router-link-active">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/" >Home</a>
        <a class="nav-link" routerLink="/taches">Liste des tâches</a>
        <a class="nav-link" routerLink="/tache/new">Nouvelle tâche</a>
        <a class="nav-link" routerLink="/utilisateurs">Utilisateurs</a>
        <a class="nav-link" routerLink="/connexion" >Connexion</a>
      </div>
    </div>
  </div>
</nav>



<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
